@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
	h1 {
		@apply text-3xl font-bold capitalize text-main;
	}
	h2 {
		@apply text-2xl font-bold capitalize;
	}
	h3 {
		@apply text-xl font-bold capitalize;
	}
	h4 {
		@apply text-lg font-bold capitalize;
	}
	section {
		@apply py-9;
	}
	p {
		@apply text-gray-500 dark:text-gray-400;
	}
	ul,
	li {
		@apply list-none;
	}
	a {
		@apply text-white
	}
}

@layer utilities {
	.container {
		@apply m-auto;
	}
}

header nav .active {
	@apply text-main;
}

::-webkit-scrollbar {
	@apply w-1;
}
::-webkit-scrollbar-track {
	@apply dark:bg-black;
}
::-webkit-scrollbar-track-piece {
	@apply dark:bg-black;
}
::-webkit-scrollbar-thumb {
	@apply bg-main rounded-md;
}
/* FIREFOX */
html {
	scrollbar-width: thin;
	/*  scrollbar-color: <thumbColor> <trackColor>; */
	scrollbar-color: #ee7711 #eeeeee;
	/* scrollbar-gutter: stable ; */
}

.tr::before {
	clip-path: polygon(0% 0%, 0% 100%, 80% 100%, 100% 0%);
}

